@import "tailwindcss";

#root {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.react-datepicker, .react-datepicker__header, .react-datepicker__month-container {
    background-color: #334155 !important;
}

.react-datepicker__current-month {
    font-size: 28px !important;
    color: #e2e8f0 !important;
}

.react-datepicker__navigation-icon {
  transform: scale(2);
  position: absolute !important;
  top: 10px !important;
  left: 15px !important;
}

.react-datepicker__day, .react-datepicker__day-name {
    color: #e2e8f0 !important;
}

.react-datepicker__day {
    border: solid 2px white;
    border-radius: 15px;
}

.react-datepicker__day:hover {
    background-color: #60a5fa !important;
    border-radius: 15px !important;
}

.react-datepicker__day--keyboard-selected {
    background-color: #334155 !important;
    border-radius: 15px !important;
}

.react-datepicker {
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 16px !important;
    border: solid 4px black !important;
    border-radius: 15px !important;
    overflow: hidden;
}

@media screen and (min-width: 425px) {
    .react-datepicker {
        font-size: 20px !important;
    }
}

@media screen and (min-width: 768px) {
    .react-datepicker {
        font-size: 30px !important;
    }
}